@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v14/oMMgfZMQthOryQo9n22dcn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(http://fonts.gstatic.com/s/roboto/v14/RxZJdnzeo3R5zSexge8UUYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Lobster.otf);
}

html, body{font-family: 'roboto';color: darkgrey;height: 100%; min-height: 100%;}
body.back { background: url(/img/back.jpg)no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover;  }
.content{background: rgba(0, 0, 0, 0.2);width: 100%;min-height: 100%;}

#header{width: 1170px;margin: 0 auto;position: relative;padding-top: 30px; font-family: Lobster;color:white;transition: all 1s;}
#header img{width:91px;transition: all 1s;}
#header h1{text-align: center;font-size: 50px;margin-top: 40px;transition: all 1s;}
#header h2{position: absolute;top:30px;left:100px;font-size: 40px;transition: all 1s;}
#header h3{text-align: center;font-size: 28px;margin-top: 20px;}
#header #btns{position: absolute;right: 0px;top:40px;font-family: 'roboto'; transition: all 1s;}
#search{margin: 100px auto;width: 500px;transition: all 1s;}
.white{color: #fff;}
#header.hcenter{width:350px;}
.list-inline{color: red;}
.media-object{max-width:150px;}
h4{color:purple;}
.formlog{max-width:600px;margin:20px auto 0;background-color:#FFFFFF;padding: 40px;border-radius:10px;}
.formlog legend{text-align: center;color:#000;font-size: 25px}
.formlog span.right{float: right}
.haveResults #header h1, .haveResults #header h3{opacity:0;}
.haveResults #header h2{font-size: 25px;top:22px;left: 55px;}
.haveResults #header img{width: 44px;}
.haveResults #header{padding-top: 32px;}
.haveResults #header #btns{top: 28px;}
.haveResults #search{margin: -200px auto 30px;}
#results{background-color: #fff; padding-top: 25px;}
.formadd{background-color: white;}
#imgaddproduct{border: 1px solid darkgray;border-radius: 5px; cursor: pointer;max-width:180px; }
.spacer100{height: 100px;}

#header a:hover {color: #FFF;}

.list-group-item-success {color: #FFF; background-color: #93C54B;  }

.hit{width: 250px;float: left; height: 300px;border: 1px solid #Efefef;margin:10px; border-radius: 5px;position: relative;margin: 0 10px 20px 10px;}
.hit .linkimg{width: 250px;position: absolute;top: 0;height:200px;overflow: hidden;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;background-size: cover; }
.hit .linkimg img{width: 250px;max-height:200px;}
.hit .media-body{position: absolute;top:200px;width:240px;height:100px;left:10px;}
.hit .media-body h4{color: #93C54B; font-size: 15px;font-family: 'Roboto';}
.hit .media-body h4 em{font-weight: bold;font-style: normal;}
.hit .media-body .price{position: absolute;bottom:0px;right:10px;font-size: 25px;}